flow.json
[{"id":"d6f59079.629d28","type":"tab","label":"Flow 5"},{"id":"910adcdc.74e678","type":"cloudant in","z":"d6f59079.629d28","name":"lift db","cloudant":"","database":"lift_db","service":"IotTeamInnovative-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":267.991455078125,"y":165.23294067382812,"wires":[["d8ea6d87.f5a34","5dcdd3f4.c71c24"]]},{"id":"45c8f3ab.b6cb34","type":"function","z":"d6f59079.629d28","name":"Extract BuildingData","func":"context.BuildingDataBase = context.BuildingDataBase || null;\ncontext.data = context.data || null;\ncontext.isDBok = context.isDBok || false;\n\nswitch(msg.topic){\n    //filter user location\n\tcase \"AppInput\":\n\t\tcontext.data = msg.payload;\n\t\tif(context.isDBok){\n\t\t    for (var i=3;i<6;i++) {\n                var lat1 = context.BuildingDataBase[i].geomatry.coordinate[0];\n                var lon1 = context.BuildingDataBase[i].geomatry.coordinate[1];\n                \n                var lat2 = context.data.d.lat;\n                var lon2 = context.data.d.lon;\n                // Some math \n                //find distance of user from each building\n                //if it less than limints (here 10m) assume he\n                //is inside the building\n              \tvar radlat1 = Math.PI * lat1/180;\n            \tvar radlat2 = Math.PI * lat2/180;\n            \tvar theta = lon1-lon2;\n            \tvar radtheta = Math.PI * theta/180;\n            \tvar dist = Math.sin(radlat1) * Math.sin(radlat2) + Math.cos(radlat1) * Math.cos(radlat2) * Math.cos(radtheta);\n            \tvar dist = Math.acos(dist);\n            \tdist = dist * 180/Math.PI;\n            \tdist = dist * 60 * 1.1515;\n            \tdist = dist * 1.609344\n            \tif(dist < 10){\n            \t    msg.payload = {};\n            \t    msg.payload = {\"index\":i};\n            \t    msg.topic = \"index\";\n            \t    return[msg,null];\n            \t}\n\t\t    }\n           return [null,null];\n\t\t}else{\n\t\t  return [msg,{\"inject\":\"inject\"}];\n\t\t}\n\t//filter building database and store into a static variable\n\tcase \"BuildingDataBase\":\n\t\tcontext.BuildingDataBase = msg.payload;\n\t\tcontext.isDBok = true;\n\t    break;\n\tdefault:\n\t\tmsg = null;\n\t\tbreak;\n\t\t\n\treturn [null,null];\n}\n","outputs":"2","noerr":3,"x":282,"y":259.2698669433594,"wires":[["5c8e508a.1c7898","fd03830a.e59e3","5f9000cb.7c669"],["910adcdc.74e678"]]},{"id":"d8ea6d87.f5a34","type":"debug","z":"d6f59079.629d28","name":"","active":true,"console":"false","complete":"payload","x":354,"y":49,"wires":[]},{"id":"6cf8a17b.7fb2b8","type":"inject","z":"d6f59079.629d28","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":125,"y":55,"wires":[["910adcdc.74e678"]]},{"id":"579079fa.6100d8","type":"ibmiot in","z":"d6f59079.629d28","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"408805b17230","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":89,"y":389,"wires":[["afa60620.3441e8","917939bc.3816c"]]},{"id":"afa60620.3441e8","type":"function","z":"d6f59079.629d28","name":"extract Long-Lat","func":"var lat = msg.payload.d.latitude;\nvar lon = msg.payload.d.londitude;\nmsg.topic = \"AppInput\";\nmsg.payload = {};\nmsg.payload = {\"d\":{\"lat\":lat,\"lon\":lon}};\nreturn msg;","outputs":"1","noerr":0,"x":134.0028076171875,"y":315.375,"wires":[["45c8f3ab.b6cb34","fcedb17f.d10d2"]]},{"id":"5dcdd3f4.c71c24","type":"function","z":"d6f59079.629d28","name":"PushTopicLiftDB","func":"//tag data\nmsg.topic = \"BuildingDataBase\"\nreturn msg;","outputs":1,"noerr":0,"x":434,"y":89,"wires":[["45c8f3ab.b6cb34"]]},{"id":"5c8e508a.1c7898","type":"debug","z":"d6f59079.629d28","name":"datas","active":true,"console":"false","complete":"payload","x":581.5,"y":152,"wires":[]},{"id":"fcedb17f.d10d2","type":"debug","z":"d6f59079.629d28","name":"lan-lon","active":true,"console":"false","complete":"payload","x":257.0426025390625,"y":385.960205078125,"wires":[]},{"id":"5f9000cb.7c669","type":"function","z":"d6f59079.629d28","name":"ShedduleFinder","func":"context.index = context.index||null;\ncontext.data = context.data || null;\n\nswitch(msg.topic){\n    //filter id(here index) of the building \n    case \"index\":\n        context.index = msg.payload.index - 3;\n        break;\n    //filter whole database of lift requests\n    case \"DataBase\":\n        context.data = msg.payload;\n        msg.payload = context.data[context.index]\n        msg.topic = \"data\";\n        return msg;\n        break;\n    return null;\n}\n","outputs":1,"noerr":0,"x":737.75,"y":191.16668701171875,"wires":[["f793b604.0ad95","e020285f.d09de8"]]},{"id":"fd03830a.e59e3","type":"cloudant in","z":"d6f59079.629d28","name":"lift db","cloudant":"","database":"lift_db","service":"IotTeamInnovative-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":538.5,"y":368.1666564941406,"wires":[["d8edfd85.a464e"]]},{"id":"d8edfd85.a464e","type":"function","z":"d6f59079.629d28","name":"PushTopicLiftDB","func":"//set tag to the data\nmsg.topic = \"DataBase\"\nreturn msg;","outputs":1,"noerr":0,"x":570.5,"y":281.1666564941406,"wires":[["5f9000cb.7c669"]]},{"id":"f793b604.0ad95","type":"function","z":"d6f59079.629d28","name":" CheckRequest","func":"context.index = context.index||null;\ncontext.data = context.data || null;\ncontext.start = context.start||null;\ncontext.end = context.end||null;\ncontext.isAppData = context.isAppData||null;\ncontext.isSchedule = context.isSchedule||null;\n\nswitch(msg.topic){\n    //filter user lift request\n    case \"AppRequest\":\n        context.start = msg.payload.d.start;\n        context.end = msg.payload.d.end;\n        context.isAppData = true;\n        break;\n    //filter lift request database\n    case \"data\":\n        context.data = msg.payload;\n        context.isSchedule = true;\n        break;\n    }\nif(context.isAppData && context.isSchedule){\n    for(var i=0;i<context.data.shedule.length;i++){\n        //implement lift optmization algorithm\n        //Actually we work on it but without realtime data\n        //it was so hard to do :(\n        //we got current building and database \n        //containg lift requets from different users\n    }\n}\n\n","outputs":1,"noerr":0,"x":950.75,"y":196.5,"wires":[["a5a7a2be.5b5788"]]},{"id":"917939bc.3816c","type":"function","z":"d6f59079.629d28","name":"extract_request","func":"//extract user lift requests\nvar start = msg.payload.d.start;\nvar end = msg.payload.d.end;\nmsg.topic = \"AppRequest\";\nmsg.payload = {};\nmsg.payload = {\"d\":{\"start\":start,\"end\":end}};\nreturn msg;","outputs":1,"noerr":0,"x":415.75,"y":491.5,"wires":[["f793b604.0ad95"]]},{"id":"a5a7a2be.5b5788","type":"debug","z":"d6f59079.629d28","name":"","active":true,"console":"false","complete":"false","x":1137.7500610351562,"y":199.66665649414062,"wires":[]},{"id":"e020285f.d09de8","type":"debug","z":"d6f59079.629d28","name":"Schedule","active":true,"console":"false","complete":"payload","x":925.1666870117188,"y":113.16666412353516,"wires":[]}]
